################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.crt
*.lst
*.sym

/WinPasm
/LinPasm
/samples
/Win
/Linux
